.header {
  background-color: #FFF1EB;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header hr {
  position: relative;
  z-index: 3;
  height: 1px;
  border: none;
  background-color: #EBB591;
}

.header.active::before {
  background-color: #FFFAF5;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

@media (max-width: 767.98px) {
  .header::before {
    z-index: 3;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
}

@media (max-width: 767.98px) {
  .header__body {
    margin: 20px 0px 15px;
  }
}

.header__logo {
  color: #B46143;
  z-index: 3;
}

.header__menu {
  z-index: 2;
}

@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: -700px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFFAF5;
    padding: 60px 0 0 20px;
    transition: all 0.3s ease 0s;
  }
}

.header__menu.active {
  top: 0;
  height: 100%;
}

.header__menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .header__menu__content {
    display: block;
  }
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .header ul {
    display: block;
  }
}

.header__link {
  color: #20514B;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 0px;
  border-bottom: 2px solid none;
}

.header__link:hover {
  opacity: 70%;
  padding-bottom: 5px;
  border-bottom: 2px solid #20514B;
}

@media (max-width: 767.98px) {
  .header__link {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .header li {
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .header button {
    margin-top: 25px;
  }
}

.header__button {
  font-size: 16px;
  line-height: 24px;
  color: #20514B;
  border: 2px solid #20514B;
  border-radius: 4px;
  padding: 8px 35px;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button:hover {
  background-color: rgba(32, 81, 75, 0.3);
}

@media (max-width: 767.98px) {
  .header__button {
    margin: 0;
  }
}

.header__burger {
  display: none;
  position: relative;
  z-index: 3;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #20514B;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
    height: 2px;
  }
  .header__burger span {
    background-color: #20514B;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.hero {
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

.hero__image {
  margin-right: 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767.98px) {
  .hero__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    position: absolute;
    top: 15%;
  }
}

.hero__image svg {
  max-width: 629px;
  width: 100%;
  height: 100%;
}

@media (max-width: 767.98px) {
  .hero__image svg {
    max-width: 140px;
  }
}

.hero__content {
  max-width: 565px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1279.98px) {
  .hero__content {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  .hero__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    width: 100%;
  }
}

.hero__content h1 {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 54px;
  line-height: 66px;
  color: #416A7E;
  text-transform: capitalize;
}

@media (max-width: 1023.98px) {
  .hero__content h1 {
    font-size: 37px;
    line-height: 36px;
  }
}

@media (max-width: 767.98px) {
  .hero__content h1 {
    font-size: 33px;
    line-height: 30px;
  }
}

.hero__content p {
  margin: 30px 0 50px;
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #3A3A3A;
}

@media (max-width: 1023.98px) {
  .hero__content p {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 30px;
  }
}

@media (max-width: 767.98px) {
  .hero__content p {
    margin-top: 210px;
  }
}

.hero__form {
  max-width: 496px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

@media (max-width: 1023.98px) {
  .hero__form {
    max-width: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 767.98px) {
  .hero__form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__form input {
  font-family: 'Proxima Nova';
  font-weight: 600;
  width: inherit;
  height: inherit;
  margin-right: 30px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 0 20px 0 20px;
  color: #3A3A3A;
}

.hero__form input::-webkit-input-placeholder {
  color: rgba(39, 69, 80, 0.5);
}

.hero__form input:-ms-input-placeholder {
  color: rgba(39, 69, 80, 0.5);
}

.hero__form input::-ms-input-placeholder {
  color: rgba(39, 69, 80, 0.5);
}

.hero__form input::placeholder {
  color: rgba(39, 69, 80, 0.5);
}

.hero__form input:focus {
  outline: none;
}

@media (max-width: 1023.98px) {
  .hero__form input {
    height: 50px;
    margin: 0 0 15px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 320px;
  }
}

.hero__form button {
  height: inherit;
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  max-width: 169px;
  width: 100%;
  background-color: #416A7E;
  color: #FFFAF5;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.hero__form button:hover {
  background-color: rgba(65, 106, 126, 0.3);
  color: #416A7E;
}

@media (max-width: 1023.98px) {
  .hero__form button {
    font-size: 14px;
    line-height: 24px;
    height: 50px;
    max-width: 320px;
  }
}

.backgroundBox {
  position: relative;
  padding-top: 100px;
  z-index: 1;
}

.backgroundBox__firstBg {
  position: absolute;
  width: 100%;
  height: 1460px;
  z-index: 3;
}

.backgroundBox__secondBg {
  position: absolute;
  top: 600px;
  width: 100%;
  height: 1830px;
  z-index: 2;
}

.mainHomepage {
  position: relative;
  z-index: 4;
}

.infoSection {
  margin-top: -40px;
}

@media (max-width: 1279.98px) {
  .infoSection {
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) {
  .infoSection {
    margin-top: 60px;
  }
}

.infoSection_margin {
  margin-top: 90px;
}

@media (max-width: 767.98px) {
  .infoSection_margin {
    margin-top: 60px;
  }
}

.infoSection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .infoSection__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.infoSection__image {
  margin-left: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767.98px) {
  .infoSection__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    max-width: 250px;
  }
}

.infoSection__image svg {
  max-width: 750px;
  width: 100%;
  height: 100%;
}

.infoSection__image_secondSection {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 0px;
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  .infoSection__image_secondSection {
    margin: 0;
  }
}

.infoSection__content {
  max-width: 465px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1279.98px) {
  .infoSection__content {
    width: 70%;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 30px;
  }
}

.infoSection__content_secondSection {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.infoSection__content h2 {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #274550;
  text-transform: capitalize;
}

@media (max-width: 1279.98px) {
  .infoSection__content h2 {
    font-size: 35px;
    line-height: 34px;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content h2 {
    font-size: 30px;
    line-height: 27px;
  }
}

.infoSection__content p {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #3A3A3A;
  margin: 30px 0 40px;
}

@media (max-width: 1023.98px) {
  .infoSection__content p {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 30px;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content p {
    margin: 15px 0 20px;
  }
}

.infoSection__content a {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #416A7E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid rgba(65, 106, 126, 0);
}

.infoSection__content a:hover {
  opacity: 70%;
  padding-bottom: 5px;
  border-bottom: 2px solid #20514B;
}

.infoSection {
  margin-top: -40px;
}

@media (max-width: 1279.98px) {
  .infoSection {
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) {
  .infoSection {
    margin-top: 60px;
  }
}

.infoSection_margin {
  margin-top: 90px;
}

@media (max-width: 767.98px) {
  .infoSection_margin {
    margin-top: 60px;
  }
}

.infoSection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .infoSection__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.infoSection__image {
  margin-left: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767.98px) {
  .infoSection__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    max-width: 250px;
  }
}

.infoSection__image svg {
  max-width: 750px;
  width: 100%;
  height: 100%;
}

.infoSection__image_secondSection {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 0px;
  margin-right: 30px;
}

@media (max-width: 767.98px) {
  .infoSection__image_secondSection {
    margin: 0;
  }
}

.infoSection__content {
  max-width: 465px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1279.98px) {
  .infoSection__content {
    width: 70%;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 30px;
  }
}

.infoSection__content_secondSection {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.infoSection__content h2 {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #274550;
  text-transform: capitalize;
}

@media (max-width: 1279.98px) {
  .infoSection__content h2 {
    font-size: 35px;
    line-height: 34px;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content h2 {
    font-size: 30px;
    line-height: 27px;
  }
}

.infoSection__content p {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #3A3A3A;
  margin: 30px 0 40px;
}

@media (max-width: 1023.98px) {
  .infoSection__content p {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 30px;
  }
}

@media (max-width: 767.98px) {
  .infoSection__content p {
    margin: 15px 0 20px;
  }
}

.infoSection__content a {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #416A7E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid rgba(65, 106, 126, 0);
}

.infoSection__content a:hover {
  opacity: 70%;
  padding-bottom: 5px;
  border-bottom: 2px solid #20514B;
}

.mainQuote {
  border-bottom: 1px solid #EBB591;
  border-top: 1px solid #EBB591;
  background-color: #FCECDC;
  padding: 60px 0;
}

@media (max-width: 767.97px) {
  .mainQuote {
    padding: 30px 0;
  }
}

.mainQuote_margin {
  margin-top: 60px;
}

@media (max-width: 767.97px) {
  .mainQuote_margin {
    margin-top: 30px;
  }
}

.mainQuote__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.97px) {
  .mainQuote__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1023.97px) {
  .mainQuote__image img {
    display: block;
    max-width: 460px;
    width: 100%;
  }
}

@media (max-width: 767.97px) {
  .mainQuote__image img {
    max-width: 320px;
  }
}

.mainQuote__content {
  margin-left: 30px;
}

@media (max-width: 767.97px) {
  .mainQuote__content {
    margin: 30px 0;
  }
}

.mainQuote__content h2 {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #274550;
  text-transform: capitalize;
}

@media (max-width: 1023.97px) {
  .mainQuote__content h2 {
    font-size: 35px;
    line-height: 40px;
  }
}

.mainQuote__content h3 {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #274550;
  text-transform: capitalize;
  margin: 15px 0 10px;
}

@media (max-width: 1023.97px) {
  .mainQuote__content h3 {
    font-size: 29px;
    line-height: 35px;
  }
}

.mainQuote__content h4 {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #274550;
}

@media (max-width: 1023.97px) {
  .mainQuote__content h4 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 767.97px) {
  .mainQuote__content h4 {
    font-size: 18px;
    line-height: 25px;
  }
}

.mainQuote__content hr {
  height: 1px;
  max-width: 360px;
  background-color: #416A7E;
  margin: 30px 0 60px;
}

@media (max-width: 1023.97px) {
  .mainQuote__content hr {
    margin: 20px 0 40px;
    width: 50%;
  }
}

@media (max-width: 767.97px) {
  .mainQuote__content hr {
    margin: 20px auto 40px;
  }
}

.mainQuote__content p {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  color: #274550;
}

@media (max-width: 1023.97px) {
  .mainQuote__content p {
    font-size: 18px;
    line-height: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF1EB;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  padding-left: 64px;
  padding-right: 64px;
}

@media (max-width: 1023.98px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

a {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

button, input {
  background-color: none;
  border: none;
  background-color: inherit;
}

li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */